{% extends "site_base.html" %}

{% load i18n %}
{% load static %}
{% load bootstrap %}

{% block head_title %}{% trans "Log in" %}{% endblock %}

{% block css_extends %}
	<link rel="stylesheet" href="{% static "css/login_signup.css" %}" />
	<link rel="stylesheet" href="{% static "css/travel.css" %}"/>
{% endblock %}

{% block body %}
	<div class="row body-base">
		<div class="col-md-4">
			{% include "account/_login_sidebar.html" %}
		</div>
		<div class="col-md-8">
			<form class="form-login" method="POST" action="{% url "account_login" %}" autocapitalize="off" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
				<legend>{% trans "Log in" %}</legend>
				<!--  to an existing account -->
				{% csrf_token %}
				{{ form|bootstrap }}
				{% if redirect_field_value %}
					<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
				{% endif %}
				<button type="submit" class="btn btn-default-login btn-full-width">{% trans "Log in" %}</button>
			</form>
			<hr>
			<div class="login-others">
				<div>
					{% trans "Forgot your password?&nbsp&nbsp" %}
					<a href="{% url "account_password_reset" %}" class="btn btn-link"><strong>{% trans "Reset your password" %}</a></strong>
				</div>
				{% if ACCOUNT_OPEN_SIGNUP %}
					<div>
						{% trans "Don't have an account?&nbsp&nbsp" %}  
						<strong><a href="{% url 'account_signup' %}">{% trans "Sign up" %}</a></strong>
					</div>	
				{% endif %}
			</div>
		</div>
	</div>
	{% block page-si %}
	{% endblock %}
{% endblock %}

{% block end_js_extends %}
	<script type="text/javascript">
		$(document).ready(function() {
			$('#id_email').focus();
		});
	</script>
{% endblock %}
