{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap %}

{% block body_class %}account account-settings{% endblock %}

{% block head_title %}{% trans "Languages" %}{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-5"></div>
		<div class="col-md-6">
			<form method="POST" action="{% url "account_settings" %}">
				<legend>{% trans "Languages" %}</legend>
				{% csrf_token %}
				{{ form|bootstrap }}
				<button class="btn btn-primary" type="submit">Save</button>
			</form>
		</div>
	</div>
{% endblock %}