{% extends "site_base.html" %}

{% load i18n %}
{% load static %}
{% load bootstrap %}

{% block head_title %}{% trans "Sign up" %}{% endblock %}

{% block css_extends %}
	<link rel="stylesheet" href="{% static "css/login_signup.css" %}" />
{% endblock %}

{% block body %}
	<div class="row body-base">
		<div class="col-md-4">
			{% include "account/_signup_sidebar.html" %}
		</div>
		<div class="col-md-8">
			<form id="signup_form" class="form-signup" method="post" action="{% url "account_signup" %}" autocapitalize="off" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
				<legend>{% trans "Sign up" %}</legend>
				{% csrf_token %}
					<div class="form-group">
						<label class="control-label" for="id_name">Name</label>
						<div>
							<input class="form-control" id="id_name" maxlength="254" name="name" type="text">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label" for="id_email">Email</label>
						<div>
							<input class="form-control" id="id_email" name="email" type="text">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label" for="id_password">Password</label>
						<div>
							<input class="form-control" id="id_password" name="password" type="password">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label" for="id_password_confirm">Password (again)</label>
						<div>
							<input class=" form-control" id="id_password_confirm" name="password_confirm" type="password">
						</div>
					</div>
					{% if redirect_field_value %}
						<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
					{% endif %}
					<button type="submit" class="btn btn-default-signup btn-full-width">{% trans "Sign up" %}</button>
			</form>
			<hr>
			<p class="login-signup">
				{% trans "Already have an account?&nbsp&nbsp" %}  <strong><a href="{% url 'account_login' %}">{% trans "Log in" %}</a></strong>
			</p>
		</div>
	</div>
	{% block page-si %}
	{% endblock %}
{% endblock %}

{% block end_js_extends %}
	<script type="text/javascript">
		$(document).ready(function() {
			$('#id_name').focus();
		});
	</script>
{% endblock %}
