{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap %}
{% load staticfiles %}

{% block head_title %}{% trans "Traveler" %}{% endblock %}

<!--
load socketio_tags
socketio
-->

{% block fullpage_css %}
	<!-- Full Page -->
	<link rel="stylesheet" href="{% static "css/fullPage/jquery.fullPage.css" %}" />
{% endblock %}

{% block css_extends %}
<style type="text/css">

/* padding top for fixed navbar */
.section { 
	/* Original section has border box in jquery.fullPage.css */
	padding-top: 54px;
}

h3 {
	text-align: center;
}

.local-menu-group {
	position: fixed;
	top: 54px;
	right: 5em;
	z-index: 1;
}

.card-loacl-handle {
}

.card-local-menu {
	overflow: auto;
}

.card-local-menu-item {

}

.user-detail {
	padding-bottom: 54px;
}

.user-detail-about {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 40px;
}

.data-frame {
	border-style: solid;
	border-width: 5px;
	border-color: red;
	/* Haha margin is really shit with bootstrap.. */
}
</style>
{% endblock %}

{% block nav_fix %}navbar-fixed-top{% endblock %}

{% block body %}
<div id="fullpage">
	<div class="user-card section">
		<div class="row">
			<div class="col-md-3">
				{% if user_picture %}
					<img class="img-circle img-responsive" src="{{ user_picture.picture.url }}">
				{% endif %}
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-4">
						<div class="row">{% trans "Name" %}</div>
						<div class="row">{% trans "Country" %}</div>
						<div class="row">{% trans "Language" %}</div>
					</div>
					<div class="col-md-8">
						<div class="row">{{ user.first_name }}</div>
						<div class="row">
							{% if user_extends %}
								{{ user_extends.country.name }}
							{% endif %}
						</div>
						<div class="row"></div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
			</div>
		</div>
		
		<a id="about_handle" href="#" class="user-detail-about">
			<h3>{% trans "About Me" %}</h3>
		</a>
	</div>

	<div class="user-detail section">
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<h3>{{ user.first_name }}</h3>
			</div>
			<div class="col-md-4"></div>
		</div>
		<div class="row">
			{% if user_extends %}
			<!-- Basic data -->
			<div class="col-md-6 data-frame">
				<!-- Gender -->
				<div class="row">
					<div class="col-md-2">
						<img class="img-responsive" src="{% static "icon/gender.png" %}">
					</div>
					<div class="col-md-10">
						{{ user_extends.get_sex_display }}
					</div>
				</div>

				<!-- Country -->
				<div class="row">
					<div class="col-md-2">
						<img class="img-responsive" src="{% static "icon/location.png" %}">
					</div>
					<div class="col-md-10">
						<div class="row">
							<div class="col-md-2">
								<img class="img-responsive" src="{{ user_extends.country.flag }}">
							</div>
							<div class="col-md-10">
								{{ user_extends.country.name }}
							</div>
						</div>
					</div>
				</div>

				<!-- Bitrhday -->
				<div class="row">
					<div class="col-md-2">
						<img class="img-responsive" src="{% static "icon/birth.png" %}">
					</div>
					<div class="col-md-10">
						{{ user_extends.birthday|date:"Y/m/d" }}
					</div>
				</div>

				{% if education %}
				<!-- Education -->
				<div class="row">
					<div class="col-md-2">
						<img class="img-responsive" src="{% static "icon/education.png" %}">
					</div>
					<div class="col-md-10">
						{{ education.degree }}, {{ education.department }}, 
						{% if education.end_at %}
							{{ education.end_at|date:"Y" }}, 
						{% endif %}
						{{ education.school }}
					</div>
				</div>
				{% endif %}

				{% if current %}
				<!-- Current -->
				<div class="row">
					<div class="col-md-2">
						<img class="img-responsive" src="{% static "icon/jobs.png" %}">
					</div>
					<div class="col-md-10">
						{{ current.title }}
					</div>
				</div>
				{% endif %}

				{% if goodats %}
				<!-- GoodAt -->
				<div class="row">
					<div class="col-md-2">
						<img class="img-responsive" src="{% static "icon/skill.png" %}">
					</div>
					<div class="col-md-10">
						{% for goodat in goodats %}
							{{ goodat.name }}
						{% endfor %}
					</div>
				</div>
				{% endif %}

				{% if interests %}
				<!-- Interest -->
				<div class="row">
					<div class="col-md-2">
						<img class="img-responsive" src="{% static "icon/interest.png" %}">
					</div>
					<div class="col-md-10">
						{% for interest in interests %}
							{{ interest.name }}
						{% endfor %}
					</div>
				</div>
				{% endif %}
			</div>

			<!-- Personal Detail -->
			<div class="col-md-6 data-frame">
				{{ user_extends.selfProfile|safe }}
			</div>
			{% endif %}
		</div>
	</div>
</div>

<div class="local-menu-group">
	<div class="row">
		<a id="local_handle" class="card-loacl-handle navbar-brand toggle-button">
			<h1>{% trans "Local Post" %}</h1>
		</a>
	</div>
	<div class="row">
		<div id="local_menu" class="card-local-menu list-group">
			{% for travel_local in travel_locals %}
			<div class="card-local-menu-item list-group-item">
				<h3>{{ travel_local.title }}</h3>
				<div class="row">
					<div class="col-md-offset-1 col-md-11">
						<div class="row">{{ travel_local.country_city }}</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}

{% block fullpage_js %}
	<!-- Full Page JS -->
	<!-- This following line is needed only in case of using other easing effect rather than "linear", "swing" or "easeInQuart". You can also add the full jQuery UI instead of this file if you prefer -->
	<script src="{% static "js/fullPage/vendors/jquery.easings.min.js" %}"></script>
	<!-- This following line needed in the case of using the plugin option `scrollOverflow:true` -->
	<script type="text/javascript" src="{% static "js/fullPage/vendors/jquery.slimscroll.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/fullPage/jquery.fullPage.js" %}"></script>
	<script type="text/javascript" src="{% static "js/fullPage/user_card.conf.js" %}"></script>
{% endblock %}

{% block end_js_extends %}
<!-- <script src="{% static "js/nav_local.js" %}"></script> -->
{% endblock %}