<ul id="question_pills" class="nav nav-pills nav-stacked" role="tablist">
	<li role="presentation" class="active">
		<a href="#" role="tab" data-toggle="tab" aria-controls="tokyo" aria-expanded="false">Tokyo</a>
	</li>
	<li role="presentation">
		<a href="#" role="tab" data-toggle="tab" aria-controls="chiba" aria-expanded="false">Chiba</a>
	</li>
	<li role="presentation">
		<a href="#" role="tab" data-toggle="tab" aria-controls="kobe" aria-expanded="false">Kobe</a>
	</li>
</ul>