<ul id="find_local_pills" class="nav nav-pills nav-stacked" role="tablist">
	<li role="presentation" class="active">
		<a href="#" role="tab" data-toggle="tab" aria-controls="find_pateners" aria-expanded="false">Find Parteners</a>
	</li>
	<li role="presentation">
		<a href="#" role="tab" data-toggle="tab" aria-controls="find_local" aria-expanded="false">Find Local</a>
	</li>
	<li role="presentation">
		<a href="#" role="tab" data-toggle="tab" aria-controls="ask_for_lives" aria-expanded="false">Ask for lives</a>
	</li>
</ul>