{% load i18n %}
{% load bootstrap %}
{% load staticfiles %}

<!-- Modal -->
<div class="modal fade" id="addCountryModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<div class="row">
					<div class="col-md-5"></div>
					<div class="col-md-6">
						<h4 class="modal-title" id="myModalLabel">{% trans "Tell Us!" %}</h4>
					</div>
					<div class="col-md-5"></div>
				</div>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-3"></div>
					<div class="col-md-10">
						{% trans "希望新增的國家/城市" %}
						<input id="hopecity_country" class="form-control" type="text" placeholder="Country...">
						<input id="hopecity_city" class="form-control" type="text" placeholder="City...">
					</div>
					<div class="col-md-3"></div>
				</div>
				<hr>
				<div class="row">
					<div class="col-md-3"></div>
					<div class="col-md-10">
						{% trans "Tell us more!" %}
					</div>
					<div class="col-md-3"></div>
				</div>
				<div class="row">
					<div class="col-md-3"></div>
					<div class="col-md-10">
						<textarea id="hopecity_more" class="form-control" rows="3"></textarea>
					</div>
					<div class="col-md-3"></div>
				</div>
			</div>
			<div class="modal-footer">
				<button id="send_country_submit" type="button" class="form-control btn btn-primary" data-dismiss="modal" onClick="sendUsCountry()">Send</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
// $(document).ready(function() {
	// $('#send_country_submit').click(function() {
	// 	console.log('send_country_submit');
	// 	sendUsCountry();
	// });

function sendUsCountry() {
	// console.log('send_country_submit');
	var h_country = $('#hopecity_country').val();
	var h_city = $('#hopecity_city').val();
	var h_more = $('#hopecity_more').val();
	// console.log('co: ' + h_country);
	// console.log('ci: ' + h_city);
	// console.log('mo: ' + h_more);
	$.ajax( {
		url: "{% url 'api:hopecity-list' %}",
		type: 'POST',
		data: {
			user: {{ user.pk }},
			country: h_country,
			city: h_city,
			more: h_more
		},
		success: function(data) {
			console.log(data);
			$('#hopecity_country').val('');
			$('#hopecity_city').val('');
			$('#hopecity_more').val('');
		}
	});
}
// });
</script>