{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap %}
{% load staticfiles %}

{% block head_title %}{% trans "Choose Area" %}{% endblock %}

{% block fullpage_css %}
	<!-- Full Page -->
	<link rel="stylesheet" href="{% static "css/fullPage/jquery.fullPage.css" %}" />
{% endblock %}

{% block css_extends %}
	<link rel="stylesheet" href="{% static "css/country_chooser.css" %}" />
{% endblock %}

{% block body %}
<div id="fullpage">
	<div class="section">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-14 page-header">
				<h1>{% trans "Choose a travel place! " %}<small>{% trans "or help each other in your zone." %}</small></h1>
			</div>
			<div class="col-md-1"></div>
		</div>

		<div class="row">
			<div class="col-md-1"></div>
			{% for country in countries %}
				<a class="col-md-5 btn" href="{% url 'home:home' %}?country={{ country.country_code }}-{{ country.city_alias }}" style="position: relative">
					<div class="row">
						<div class="col-md-offset-5 col-md-6 img-title" style="top: 5em; position: absolute;">
							{% trans country.city_name %}
						</div>
					</div>
					<img class="img-responsive" src="{{ MEDIA_URL }}{{ country.cover_photo }}">
				</a>
			{% endfor %}
			<!-- <div class="col-md-2"></div> -->
		</div>

		<div class="row" style="margin-top: 2em">
			<div class="col-md-1"></div>

			<a class="col-md-10 thumbnail btn" href="" data-toggle="modal" data-target="#addCountryModel">
				<h1><img class="icon" src="{% static "travelwithu/tellus.png" %}"> {% trans "Want more countries? Tell us!" %}</h1>
			</a>
			<div class="col-md-5"></div>
		</div>
	</div>
</div>

{% include "travel_agency/_hope_city.html" %}

{% endblock %}

{% block end_js_extends %}
{% endblock %}

{% block fullpage_js %}
	<!-- Full Page JS -->
	<!-- This following line is needed only in case of using other easing effect rather than "linear", "swing" or "easeInQuart". You can also add the full jQuery UI instead of this file if you prefer -->
	<script src="{% static "js/fullPage/vendors/jquery.easings.min.js" %}"></script>
	<!-- This following line needed in the case of using the plugin option `scrollOverflow:true` -->
	<script type="text/javascript" src="{% static "js/fullPage/vendors/jquery.slimscroll.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/fullPage/jquery.fullPage.js" %}"></script>
	<script type="text/javascript" src="{% static "js/fullPage/chooser.conf.js" %}"></script>
{% endblock %}