{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap %}

{% block head_title %}{% trans "Settings" %}{% endblock %}

{% block extra_head %}
	{{ form.media }}
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-5"></div>
		<div class="col-md-6">
			<form enctype="multipart/form-data" method="POST" action="" autocapitalize="off">
				<legend>{% trans "Settings" %}</legend>
				{% csrf_token %}
				<div class="row">
					<div class="col-md-16">
						<a id="setting-pic" data-toggle="modal" data-target="#model_setting_pic">
							{% if user_picture %}
								<img id="#profile_pic" class="img-rounded img-responsive" src="{{ user_picture.picture.url }}">
							{% else %}
								<img id="#profile_pic" class="img-rounded img-responsive" src="/media/user_pic/default.png">
							{% endif %}
						</a>
					</div>
				</div>

				{{ form|bootstrap }}
				{% if redirect_field_value %}
					<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
				{% endif %}
				<button type="submit" class="btn btn-success">{% trans "Save" %}</button>
			</form>
		</div>
	</div>

	{% include "travel_agency/_profile_pic_model_frame.html" %}
{% endblock %}

{% block end_js_extends %}
	<script type="text/javascript">
		$(document).ready(function() {
			$('#setting-pic').click(function() {
				$.ajax({
					url: '{% url "home:pic" %}',
					type: 'GET',
					success: function(data) {
						// console.log(data);
						$('#model_setting_pic').html(data);
					}
				});
			});
			{% if open_dialog == 't' %}
				// open dialog for user picture
				$('#setting-pic').click();
			{% endif %}
		});

		// $(document).on('change', '#model_setting_pic', function() {
		// 	console.log('change ', $('#user_pic_form'));
		// 	$('#user_pic_form').submit();
		// });
	</script>
{% endblock %}
