{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap %}
{% load staticfiles %}

{% block head_title %}{% trans "Traveler" %}{% endblock %}

<!--
load socketio_tags
socketio
-->

{% block css_extends %}
<link rel="stylesheet" href="{% static "css/bootstrap/bootstrap-switch.css" %}">
{% endblock %}

{% block body %}
	<ul id="travel_tabs" class="nav nav-tabs row" role="tablist" style="margin-top: 50px">
		<li role="presentation" class="col-md-5 active">
			<a href="#find_local" role="tab" id="find_local_tab" data-toggle="tab" aria-controls="find_local" aria-expanded="false">
				<h3>{% trans "Find Local" %}</h3>
			</a>
		</li>
		<li role="presentation" class="col-md-5">
			<a href="#local_post" role="tab" id="local_post_tab" data-toggle="tab" aria-controls="local_post" aria-expanded="false">
				<h3>{% trans "Local Post" %}</h3>
			</a>
		</li>
		<li role="presentation" class="col-md-6">
			<a href="#question" role="tab" id="question_tab" data-toggle="tab" aria-controls="question" aria-expanded="false">
				<h3>{% trans "Question" %}</h3>
			</a>
		</li>
		<!-- <li role="presentation" class="col-md-3">
			<a href="#find_partener" role="tab" id="find_partener_tab" data-toggle="tab" aria-controls="find_partener" aria-expanded="false">
				<h3>{% trans "Find Parteners" %}</h3>
			</a>
		</li> -->
	</ul>


	<div id="travel_tabs_content" class="tab-content">

		<!-- Find Locals -->
		<div role="tabpanel" class="tab-pane fade active in" id="find_local" aria-labelledby="find_local_tab">
			<div class="row">
				<!-- <div class="col-md-2"> -->
					<!-- {% include "travel_agency/_home_travel_info.html" %} -->
				<!-- </div> -->
				<div class="col-md-16 panel panel-info">
					<!-- <h1>Travel Info</h1> -->
					<div class="row  panel-heading">
						<div class="col-md-5">
							<h4>{% trans "Date" %}</h4>
						</div>
						<div class="col-md-4">
							<h4>{% trans "Location" %}</h4>
						</div>
						<div class="col-md-4">
							<h4>{% trans "User" %}</h4>
						</div>
						<div class="col-md-3">
							<h4>{% trans "Responses" %}</h4>
						</div>
					</div>
					<div class="list-group">
						{% for travel_info in travel_infos %}
							<a id="travel_info-{{ travel_info.pk }}" data-toggle="modal" data-target="#travel_info_frame" class="row list-group-item" twu-url="{% url 'home:main-travel-info' %}?travel_info_id={{ travel_info.pk }}">
								<div class="col-md-5">
									{{ travel_info.time_start|date:"Y-m-d" }} ~ {{ travel_info.time_end|date:"Y-m-d" }}
								</div>
								<div class="col-md-4">
									{{ travel_info.country_city.city_name }}
								</div>
								<div class="col-md-3">
									<div class="row">
										<div class="col-md-6">
											<img class="media-object img-responsive img-rounded" data-type="profile_pic" data-id="{{ travel_info.user.pk }}" src="">
											<!-- <img data-user-img="{{ travel_info.user.pk }}" class="media-object img-responsive img-rounded" src="" anchor="travel_info_{{ travel_info.pk }}"> -->
											<script type="text/javascript">
											// $(document).ready(function() {
											// 	var obj = $('img[anchor="travel_info_{{ travel_info.pk }}"]');
											// 	loadImage(obj, function(data) {
											// 		obj.attr('src', data.thumbnail);
											// 	});
											// });
											</script>
										</div>
										<div class="col-md-10">
											{{ travel_info.user.first_name }}
										</div>
									</div>
								</div>
								<div class="col-md-1"></div>
								<div class="col-md-3">
									{{ travel_info.res_count }}
								</div>
							</a>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>


		<!-- Local Post -->
		<div role="tabpanel" class="tab-pane fade" id="local_post" aria-labelledby="local_post_tab">
			<div class="row">
				<div class="col-md-16 panel panel-warning">
					<div class="row  panel-heading">
						<div class="col-md-5">
							<h4>{% trans "Date & Time" %}</h4>
						</div>
						<div class="col-md-4">
							<h4>{% trans "Location" %}</h4>
						</div>
						<div class="col-md-4">
							<h4>{% trans "User" %}</h4>
						</div>
						<div class="col-md-3">
							<h4>{% trans "Responses" %}</h4>
						</div>
					</div>
					<div class="list-group">
						{% for travel_local in travel_locals %}
							<a id="travel_local-{{ travel_local.pk }}" data-toggle="modal" data-target="#travel_local_frame" class="row list-group-item" twu-url="{% url 'home:main-travel-local' %}?travel_local_id={{ travel_local.pk }}">
								<div class="col-md-5">
									{{ travel_local.available_time }}
								</div>
								<div class="col-md-4">
									{{ travel_local.country_city.city_name }}
								</div>
								<div class="col-md-3">
									<div class="row">
										<div class="col-md-4">
											<img class="media-object img-responsive img-rounded" data-type="profile_pic" data-id="{{ travel_local.user.pk }}" src="">
										</div>
										<div class="col-md-8">
											{{ travel_local.user.first_name }}
										</div>
									</div>
								</div>
								<div class="col-md-1"></div>
								<div class="col-md-3">
									{{ travel_local.res_count }}
								</div>
							</a>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>


		<!-- Find Parteners -->
		<!-- <div role="tabpanel" class="tab-pane fade" id="find_partener" aria-labelledby="find_partener_tab">
			<div class="row">
				<div class="col-md-2">
					{% include "travel_agency/_home_travel_info.html" %}
				</div>
				<div class="col-md-10 panel panel-info">
					<div class="row  panel-heading">
						<div class="col-md-4">
							<h4>{% trans "Date" %}</h4>
						</div>
						<div class="col-md-3">
							<h4>{% trans "Location" %}</h4>
						</div>
						<div class="col-md-3">
							<h4>{% trans "User" %}</h4>
						</div>
						<div class="col-md-2">
							<h4>{% trans "Responses" %}</h4>
						</div>
					</div>
					<div class="list-group">
						{% for travel_info in travel_infos %}
							<a id="travel_info-{{ travel_info.pk }}" data-toggle="modal" data-target="#travel_info_frame" class="row list-group-item" twu-url="{% url 'home:main-travel-info' %}?travel_info_id={{ travel_info.pk }}">
								<div class="col-md-4">
									{{ travel_info.time_start|date:"Y-m-d" }} ~ {{ travel_info.time_end|date:"Y-m-d" }}
								</div>
								<div class="col-md-3">
									{{ travel_info.country_city.city_name }}
								</div>
								<div class="col-md-2">
									<div class="row">
										<div class="col-md-4">
											<img data-user-img="{{ travel_info.user.pk }}" class="media-object img-responsive img-rounded" src="" anchor="travel_info_{{ travel_info.pk }}">
											<script type="text/javascript">
											$(document).ready(function() {
												var obj = $('img[anchor="travel_info_{{ travel_info.pk }}"]');
												loadImage(obj, function(data) {
													obj.attr('src', data.thumbnail);
												});
											});
											</script>
										</div>
										<div class="col-md-8">
											{{ travel_info.user.first_name }}
										</div>
									</div>
								</div>
								<div class="col-md-1"></div>
								<div class="col-md-2">
									{{ travel_info.res_count }}
								</div>
							</a>
						{% endfor %}
					</div>
				</div>
			</div>
		</div> -->

		<div role="tabpanel" class="tab-pane fade" id="question" aria-labelledby="question_tab">
			<div class="row">
				<div class="col-md-3">
					{% include "travel_agency/_home_travel_question.html" %}
				</div>
				<div class="col-md-13 panel panel-success">
					<div class="row panel-heading">
						<div class="col-md-1">
							<h4>{% trans "Rates" %}</h4>
						</div>
						<div class="col-md-2">
							<h4>{% trans "Category" %}</h4>
						</div>
						<div class="col-md-2">
							<h4>{% trans "Location" %}</h4>
						</div>
						<div class="col-md-5">
							<h4>{% trans "Title" %}</h4>
						</div>
						<div class="col-md-3">
							<h4>{% trans "User" %}</h4>
						</div>
						<div class="col-md-1">
							<h4>{% trans "Views" %}</h4>
						</div>
						<div class="col-md-2">
							<h4>{% trans "Responses" %}</h4>
						</div>
					</div>

					<div class="list-group">
						{% for travel_question in travel_questions %}
							<a id="travel_question-{{ travel_question.pk }}" data-toggle="modal" data-target="#travel_question_frame" class="row list-group-item" twu-url="{% url 'home:main-travel-question' %}?travel_question_id={{ travel_question.pk }}">
								<div class="col-md-1">
									{{ travel_question.rate }}
								</div>
								<div class="col-md-2">
									{{ travel_question.get_categories_display }}
								</div>
								<div class="col-md-2">
									{{ travel_question.country_city.city_name }}
								</div>
								<div class="col-md-5">
									{{ travel_question.title }}
								</div>
								<div class="col-md-3">
									<div class="row">
										<div class="col-md-6">
											<img class="media-object img-responsive img-rounded" data-type="profile_pic" data-id="{{ travel_question.user.pk }}" src="">
										</div>
										<div class="col-md-10">
											{{ travel_question.user.first_name }}
										</div>
									</div>
								</div>
								<div class="col-md-1">
									{{ travel_question.views }}
								</div>
								<div class="col-md-2">
									{{ travel_question.res_count }}
								</div>
							</a>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>

		{% include "travel_agency/travel_infos/_travel_info_frame.html" %}
		{% include "travel_agency/travel_locals/_travel_local_frame.html" %}
		{% include "travel_agency/travel_questions/_travel_question_frame.html" %}
		<!-- <div class="panel panel-default"> -->
			<!-- Default panel contents -->
			<!-- <div class="panel-heading">Travel Question</div> -->

			<!-- Table -->
			<!-- <table class="table"> -->
			<!-- </table> -->
		<!-- </div> -->
	</div>

	<div class="o_c">
		<div class="o_o">
			<button id="add_travel_btn" class="btn x_x c_x" onclick="addTravel('{% url 'home:travel-local-form' %}', '{% url 'home:travel-info-form' %}', '{% url 'home:travel-question-form' %}', '{{ country }}')">
				<img src="{% static "travelwithu/plus.png" %}">
			</button>
		</div>
	</div>
{% endblock %}

{% block end_js_extends %}
	<script src="{% static "js/bootstrap/bootstrap-switch.js" %}"></script> 
	<script src="{% static "js/bootstrap/tab.conf.js" %}"></script> 
	<script src="{% static "js/travel_model.js" %}"></script> 
	<script type="text/javascript">
		$(document).ready(function() {
			loadAllImage(function(msg, data) {
				console.log(msg, data);
			});
		});
	</script>
{% endblock %}