{% load i18n %}
{% load bootstrap %}

{{ form.media }}

<div id="info_model" class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<legend>{% trans "Picture" %}</legend>
		</div>

		<div class="modal-body">
			<div class="row">
				<div class="col-md-16">
					<form id="user_pic_form" enctype="multipart/form-data" method="POST" action="{% url 'home:pic'%}" autocapitalize="off">
						{% csrf_token %}
						<!-- { form|bootstrap } -->
						{{ form.non_field_errors }}
						<div class="fieldWrapper">
							{{ form.picture.errors }}
							<label for="{{ form.picture.id_for_label }}">{% trans "Picture" %}</label>
							{{ form.picture }}
							<!-- <button type="submit" class="btn btn-success">{% trans "Upload" %}</button> -->
						</div>
						<div class="fieldWrapper">
							{{ form.thumbnail.errors }}
							<label for="{{ form.thumbnail.id_for_label }}">{% trans "Thumbnail" %}</label>
							{{ form.thumbnail }}
							<!-- home:home -->
							<button type="submit" class="btn btn-primary">{% trans "Save Thumbnail" %}</button>
						</div>
						{% if redirect_field_value %}
							<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
						{% endif %}
						<input type="hidden" id="open_dialog" name="open_dialog" value="f" />
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
// window.onload = function() {
	var id_pic = document.getElementById("id_picture");
	id_pic.addEventListener('change', function() {
		var open_dialog = document.getElementById("open_dialog");
		open_dialog.value = 't';
		var user_pic_form = document.getElementById("user_pic_form");
		console.log('change ', user_pic_form);
		user_pic_form.submit();
	});
// }
// $(document).ready(function() {
// 	console.log($('#id_picture'));
// 	$('#id_picture').on('change', function() {
// 		console.log('change ', $('#user_pic_form'));
// 		$('#user_pic_form').submit();
// 	});
// });
</script>