{% load i18n %}

<div class="list-group-item">

	<!-- Main Info Response -->
	<div class="row">
		<!-- Rate -->
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<!-- User info -->
			<div class="row">
				<div class="col-md-4">
					<img class="media-object img-responsive img-rounded" data-type="profile_pic" data-id="{{ travel_info_response.user.pk }}" src="">
				</div>
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-6">
							{{ travel_info_response.user.first_name }}
						</div>
						<div class="col-md-6">
							{{ travel_info_response.updated_at|date:"Y-m-d H:i" }}
						</div>
						<div class="col-md-4">
							{{ counter }}F
						</div>
					</div>

					<!-- User Suggestion -->
					<div class="row">
						<div class="col-md-16" data-info-type="{% if travel_info_response.user == user %}can_edit_info_suggestion{% endif %}">{% if travel_info_response.suggestion %}{{ travel_info_response.suggestion|linebreaks }}{% endif %}</div>
					</div>
				</div>
			</div>
			
		</div>
		{% if travel_info_response.travel_info.user == user %}
		<!-- Can connection -->
		<div class="col-md-2" data-info-type="{% if travel_info_response.user == user %}can_edit_info_connection{% endif %}">
			<button id="info_connection_btn_{{ travel_info_response.pk }}" data-type="info_connection_btn" data-to="{{ travel_info_response.user.pk }}" data-res="{{ travel_info_response.pk }}" data-checked="{% if travel_info_response.is_connection %}true{% else %}false{% endif %}" class="{% if travel_info_response.is_connection %}glyphicon glyphicon-envelope{% else %}glyphicon glyphicon-share{% endif %}">
			</button>
		</div>

		<script type="text/javascript">
		$(document).ready(function() {
			var con_btn = $('#info_connection_btn_{{ travel_info_response.pk }}');
			con_btn.click(function() {
				// create room for user
				if (con_btn.data('checked')) {
					// Go to message
					var req_msg_to = con_btn.data('to');
					var res_pk = con_btn.data('res');
					// console.log(req_msg_to);
					// console.log(res_pk);
					window.location.href = '{% url "message:req_to_msg" %}' +'?req_msg_to=' + req_msg_to + "&res_pk=" + res_pk + "&type=info";
				} else {
					// TODO Send request to message
				}
			});
		});
		</script>
		{% elif travel_info_response.user == user %}
		<div class="col-md-2" data-info-type="{% if travel_info_response.user == user %}can_edit_info_connection{% endif %}">
			<button id="info_connection_btn_{{ travel_info_response.pk }}" data-type="info_connection_btn" data-to="{{ travel_info_response.user.pk }}" data-res="{{ travel_info_response.pk }}" data-checked="{% if travel_info_response.is_connection %}true{% else %}false{% endif %}" class="{% if travel_info_response.is_connection %}glyphicon glyphicon-envelope{% else %}glyphicon glyphicon-share{% endif %}">
			</button>
		</div>
		{% endif %}
		<div class="col-md-1">
			{% if travel_info_response.user == user %}
			<div class="row">
				<div class="col-md-16">
					<a id="info_res_self" href="#">{% trans "Edit" %}</a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-16">
					<a href="#" class="btn btn-danger" data-toggle="modal" data-target="#del_com">
						{% trans "Delete" %}
					</a>
				</div>
			</div>

			<div class="modal fade" id="del_com" role="dialog" aria-labelledby="del_label">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="del_label">{% trans "Delete Confirmation" %}</h4>
						</div>
						<div class="modal-body">
							<button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
							<button type="button" id="info_res_del" data-dismiss="modal" class="btn btn-danger">{% trans "Delete" %}</button>
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->

			<script type="text/javascript">
			$(document).ready(function() {
				$('#del_com').on('hidden.bs.modal', function(e) {
					$('#travel_info-{{ travel_info_response.travel_info.pk }}').click();
				});
				$('#info_res_del').click(function() {
					$.ajax({
						url: "{% url 'api:travel-info-response-detail' travel_info_response.pk %}",
						type: 'DELETE',
						success: function(data) {
							console.log(data);
							$('#del_com').modal('hide');
						},
						error: function(e) {
							console.log(e);
							$('#del_com').modal('hide');
						}
					});
				});
			});
			</script>
			{% endif %}
		</div>
	</div>
</div>