{% load i18n %}
{% load staticfiles %}
<script src="{% static "js/travel_q_i_functions/travel_infos_functions.js" %}"></script>

<div id="info_model" class="modal-dialog modal-lg">
	<div class="modal-content">
		{% if travel_info %}
			{% if travel_info.user == user %}
				<script type="text/javascript">
					$(document).ready(function() {
						$('.modal-footer').remove();
					});
				</script>
			{% endif %}
			<div class="modal-header">
				<div class="row">
					<div class="col-md-12">
						<h4 class="modal-title" id="question_frame_label">
							{{ travel_info.time_start|date:"Y-m-d" }} ~ {{ travel_info.time_end|date:"Y-m-d" }} {{ travel_info.country_city.city_name }}
						</h4>
					</div>
					<div class="col-md-2">
						{% if travel_info.user == user %}
						<button type='button' class="close dropdown-toggle" id="menu_edit" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span aria-hidden="true" class="fa fa-bars"></span></button>
						<ul class="dropdown-menu" aria-labelledby="menu_edit">
							<li><a href="{% url 'home:travel-info-update-form' travel_info.pk %}">Edit</a></li>
							<li><a href="#" data-toggle="modal" data-target="#del_com">Delete</a></li>
						</ul>
						<div class="modal fade" id="del_com" role="dialog" aria-labelledby="del_label">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<h4 class="modal-title" id="del_label">{% trans "Delete Confirmation" %}</h4>
									</div>
									<div class="modal-body">
										<button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
										<button type="button" id="info_del" data-dismiss="modal" class="btn btn-danger">{% trans "Delete" %}</button>
									</div>
								</div><!-- /.modal-content -->
							</div><!-- /.modal-dialog -->
						</div><!-- /.modal -->

						<script type="text/javascript">
						$(document).ready(function() {
							$('#info_del').click(function() {
								$.ajax({
									url: "{% url 'api:travel-info-detail' travel_info.pk %}",
									type: 'DELETE',
									success: function(data) {
										console.log(data);
										location.reload();
									},
									error: function(e) {
										console.log(e);
										location.reload();
									}
								});
							});
						});
						</script>
						{% endif %}
					</div>
					<div class="col-md-2">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					</div>
				</div>
			</div>
			<div class="modal-body">
				{{ travel_info.detail|safe }}
				<hr>
				<div class="alert alert-info">
					{% if travel_info_responses %}
						{{ travel_info_responses.count }} 
					{% else %}
						0 
					{% endif %}
					{% trans "Interested" %}
				</div>
				<div class="list-group">
					{% for travel_info_response in travel_info_responses%}
						{% include 'travel_agency/travel_infos/_list_item_info_response.html' with travel_info_response=travel_info_response counter=forloop.counter %}

						{% if travel_info_response.user == user %}
							<script type="text/javascript">
								$(document).ready(function() {
									$('.modal-footer').remove();
									$('#info_res_self').click(function() {
										editOrSaveInfoRes(
											'{% trans "Edit" %}',
											'{% trans "Save" %}',
											'{% trans "Response..." %}',
											{{ travel_info_response.pk }},
											"{% url 'api:travel-info-response-detail' travel_info_response.pk %}",
											{{ travel_info.pk }},
											{{ user.pk }});
									});
								});
							</script>
						{% endif %}
					{% endfor %}
				</div>
			</div>
			<div id="send_travel_info_response_form" class="modal-footer">
				<!-- Make Response now -->
				<div class="row">
					<div class="col-md-12">
						<h4 class="pull-left">{% trans "Are You Interested?" %}</h4>
					</div>
				</div>
				<div class="row" style="text-align: center">
					<div class="col-md-4">{% trans "Local Help" %}</div>
					<div class="col-md-8">
						<input id="is_info_connected" class="form-control" type="checkbox" name="is-c-checkbox" checked>
					</div>
				</div>
				<div class="row">
					<div class="btn col-md-12">
						<textarea id="travel_info_response_textarea" class="form-control" rows="3" placeholder="{% trans 'Response...' %}"></textarea>
					</div>
				</div>
				<button type="button" id="send_travel_info_response_btn" class="btn btn-primary form-control" data-dismiss="modal">Send</button>
			</div>
		{% endif %}
	</div>
</div>

<script type="text/javascript">
$(document).ready(function() {
	loadAllImage(function(msg, data) {
		console.log(msg, data);
	});

	$("[name='is-c-checkbox']").bootstrapSwitch('onText', 'YES');
	$("[name='is-c-checkbox']").bootstrapSwitch('offText', 'NO');

	$('#send_travel_info_response_btn').click(function() {
		sendInfoResponse(
			"{% url 'api:travel-info-response-list' %}",
			{{ travel_info.pk }},
			{{ user.pk }});
	});

	// $('#send_travel_info_response_form').submit(function(e) {
	// 	e.preventDefault();
	// 	sendInfoResponse(
	// 		"{% url 'api:travel-info-response-list' %}",
	// 		{{ travel_info.pk }},
	// 		{{ user.pk }});
	// });
});
</script>