{% extends "site_base.html" %}

{% load i18n %}
{% load staticfiles %}
{% block head_title %}{% trans "Introduction" %}{% endblock %}

{% block fullpage_css %}
	<!-- Full Page -->
	<link rel="stylesheet" href="{% static "css/fullPage/jquery.fullPage.css" %}" />
	<link rel="stylesheet" href="{% static "css/fullPage/fullPage.config.css" %}" />
{% endblock %}

{% block css_extends %}
	<link rel="stylesheet" href="{% static "css/intro.css" %}" />
{% endblock %}

{% block body_base %}
<div id="fullpage">
	<div id="section0" class="section">
		<div class="row slogan-default">
			<div class="col-md-12 col-md-offset-2">
				<div class="home-slogan-title">
					<p>{% trans "與世界各地的在地人一起旅行" %} </p>
				</div>
			</div>
		</div>
	</div>

	<div id="section1" class="section">
		<div class="row">
			<!-- <div class=""> -->
			<div class="circle-default col-md-4 col-md-offset-1">
				<p class="function-title">{% trans "當你是旅客" %}</p>
				<p class="function-subtitle">{% trans "透過上傳旅遊行程讓當地人尋找你" %}</p>
			</div>
			<div class="circle-default col-md-4 col-md-offset-1">
				<p class="function-title">{% trans "當你是在地人" %}</p>
				<p class="function-subtitle">{% trans "透過自己的私房景點幫助國外旅客了解你的國家" %}</p>
			</div>
			<div class="circle-default col-md-4 col-md-offset-1">
				<p class="function-title">{% trans "當你旅遊上有問題" %}</p>
				<p class="function-subtitle">{% trans "詢問在地人吧！或是幫忙其他外國旅客吧！" %}</p>
			</div>
			<!-- </div>  -->
		</div>
	</div>

	<div id="section2" class="section">
		<div class="row">
			<div class="col-md-6 col-md-offset-5 box">
				<p class="join-title">{% trans "Join us now!" %}</p>
				<a href="{% url "account_signup" %}" class="btn btn-signup">Sign Up</a>
			</div>
			<!-- <form class="col-md-4 col-md-offset-4">
				<div class="form-group">
					<label class="pull-left" for="username">Name</label>
					<input type="text" class="form-control" id="username" placeholder="Andy Lin">
				</div>
				<div class="form-group">
					<label class="pull-left" for="email">Email address</label>
					<input type="email" class="form-control" id="email" placeholder="username@travelwithu.com">
				</div>
				<div class="form-group">
					<label class="pull-left" for="passwd">Password</label>
					<input type="password" class="form-control" id="passwd" placeholder="Hard one please :D">
				</div> -->
				<!-- <button type="submit" class="btn btn-primary pull-right">Sign Up</button> -->
			<!-- </form> -->
		</div>
	</div>
</div>
{% block footer_base %}

{% endblock %}


{% endblock %}

{% block fullpage_js %}
	<!-- Full Page JS -->
	<!-- This following line is needed only in case of using other easing effect rather than "linear", "swing" or "easeInQuart". You can also add the full jQuery UI instead of this file if you prefer -->
	<script src="{% static "js/fullPage/vendors/jquery.easings.min.js" %}"></script>
	<!-- This following line needed in the case of using the plugin option `scrollOverflow:true` -->
	<script type="text/javascript" src="{% static "js/fullPage/vendors/jquery.slimscroll.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/fullPage/jquery.fullPage.js" %}"></script>
	<script type="text/javascript" src="{% static "js/fullPage/fullpage.conf.js" %}"></script>
{% endblock %}