{% extends "postman/base.html" %}
{% load i18n %}
{% block extra_head %}{{ block.super }}
	{% if autocompleter_app.is_active %}
		{% load static %}
		<script type="text/javascript"src="{# dj v1.4 #}{% static 'admin/js/jquery.min.js' %}"></script>
		{% if autocompleter_app.name == "ajax_select" %}
			{% if autocompleter_app.version == "1.1.4" or autocompleter_app.version == "1.1.5" %}
				<script type="text/javascript" src="{% static 'js/jquery.autocomplete.min.js' %}">
				</script>
				<link type="text/css" media="all" rel="stylesheet" href="{% static 'css/jquery.autocomplete.css' %}"/>
				{# else: for version 1.2.x use AJAX_SELECT_BOOTSTRAP + AJAX_SELECT_INLINES or arrange to include jqueryUI/js/css #}
			{% endif %}
		{% endif %}
	{% endif %}
{% endblock %}

{% block content %}
	<div id="postman">
	<h1>{% block pm_write_title %}{% endblock %}</h1>
	<form action="{% if next_url %}?next={{ next_url|urlencode }}{% endif %}" method="post">{% csrf_token %}
		<table>
			{% block pm_write_recipient %}{% endblock %}
			{{ form.as_table }}
		</table>
		<button type="submit">{% trans "Send" %}</button>
	</form>
	</div>
{% endblock %}