{% extends "site_base.html" %}
{% load i18n %}
{% load postman_tags %}

{% block head_title %}
	{% trans "Messaging" %}
{% endblock %}

{% block extra_head %}
	{{ block.super }}
	<link type="text/css" media="all" rel="stylesheet" href="{% load static %}{% static 'postman/css/postman.css' %}" />
{% endblock %}

{% block postman %}
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-5">
			{% block postman_menu %}
			<ul id="postman_menu">{% postman_unread as unread_count %}
				<li><a href="{% url 'postman_inbox' %}">&raquo;&nbsp;{% trans "Inbox" %}{% if unread_count %} <strong>({{ unread_count }})</strong>{% endif %}</a></li>
				<li><a href="{% url 'postman_sent' %}">&raquo;&nbsp;{% trans "Sent Messages" %}</a></li>
				<li><a href="{% url 'postman_write' %}">&raquo;&nbsp;{% trans "Write" %}</a></li>
				<li><a href="{% url 'postman_archives' %}">&raquo;&nbsp;{% trans "Archives" %}</a></li>
				<li><a href="{% url 'postman_trash' %}">&raquo;&nbsp;{% trans "Trash" %}</a></li>
			</ul>
			{% endblock %}
		</div>
		<div class="col-md-9">
			{% block content %}
			{% endblock %}
		</div>
	</div>
{% endblock %}