html {
	position: relative;
	height: 100%;
	overflow: hidden;
}

body {
	height: 100%;
	/* Margin bottom by footer height */
/*	padding-bottom: 60px;*/
}

/* TODO adjust those px value with @media for responsive */

.my_container {
	height: 100%;
	width: auto;
	padding-bottom: 52px;
	margin-right: 1em;
	margin-left: 1em;
}

/*
.panel {
	height: 60%;
}*/

.footer {
	position: absolute;
	padding-right: 15px;
	bottom: 0;
	/*width: 100%;*/
	/* Set the fixed height of the footer here */
	/*height: 60px;*/
	/*background-color: #f5f5f5;*/
}

.chat-row {
	/*margin-top: 1em;*/
	height: 100%;
}

.chat-panel {
	/*max-height: 60%;*/
	height: 100%;
	overflow: auto;
	overflow-x: hidden;
}

.room-panel {
	/*max-height: 60%;*/
	height: 100%;
	overflow: auto;
	overflow-x: hidden;
	padding-bottom: 70px;
}

.chat-panel-box {
	/*max-height: 60%;*/
	height: 100%;
	padding-bottom: 64px;
}

.chat-input-bar {
	margin: 12px 0;
}

.chat-user-bar {
	width: 100%;
	margin-bottom: 1em;
}