.img-title {
	/*background-color: rgba(0, 0, 0, 0.3);*/
	text-align: center;
	font-weight: bold;
	color: white;
	font-size: 24px;
}

.city-img {
	height: 33.33%;
	width: 32.33%;
}

.icon {
	width: 40px;
	height: 40px;
}

.image-logo {
	height: 50px;
}