.join-title {
	font-size: 48px;
}

.navbar {
	background: rgba(255,255,255,0.4);
	position: absolute;
	height: 100px;
	box-shadow: 0px 1px 10px rgba(60,60,60,0.3);
}
/*.container-navbar {
  	background: transparent;
  	min-width: 100%;
  	height: 100px;
}*/

.navbar-brand {
	line-height: 50px;
	font-size: 22px;
}
.navbar-brand-default {
	height: 100px;
}

.navbar-btn-login,
.navbar-btn-signup {
	width: 140px;
	height: 60px;
	line-height: 50px;
	color: #fff;
	border: 3px double #fff;
  	border-radius: 8px;
  	font-size: 22px;
  	margin: 20px 10px 20px 0px;
}
.navbar-btn-login:hover,
.navbar-btn-login:focus,
.navbar-btn-signup:hover,
.navbar-btn-signup:focus {
	background: white;
	opacity: 1;
  	filter: alpha(background=80);
  	-webkit-transition: background 0.8s linear;
  	-o-transition: background 0.8s linear;
  	transition: background 0.8s linear;
}
.btn-signup {
	width: 140px;
	height: 60px;
	line-height: 50px;
	color: #fff;
	background: #444;
	border: 3px #444;
  	border-radius: 8px;
  	font-size: 22px;
  	margin: 20px 10px 20px 0px;
}
.btn-signup:hover,
.btn-signup:focus {
	background: white;
	opacity: 1;
  	filter: alpha(background=80);
  	-webkit-transition: background 0.8s linear;
  	-o-transition: background 0.8s linear;
  	transition: background 0.8s linear;
}
.slogan-default {
	display: block;
	width: 100%;
	background-color: rgba(75,249,236,0.3);
}

.home-slogan-title {
	font-family: '華康儷宋 Std W5','DFLiSong Std W5';
	font-size: 450%;
	color: #ffffff;
}

.circle-default {
	max-width: 360px;
	max-height: 360px;
	min-width: 300px;
	min-height: 300px;
	border-radius: 99em;

	background-color: white;
	float: left;
	margin-right: 20px;
	padding: 5em 2em;
}
.function-title {
	font-size: xx-large;
}
.function-subtitle {
	font-size: x-large;
}

.box {
	height: 300px;
	padding-top: 70px;
}


/*
.cycle-one {
	margin-left: 15%;
}*/
/*.cycle-two {
	margin-left: 50%;	
}*/