body, html {
	height: 100%;
	background-color: #fafafa;
}

.login-others,
.login-signup {
	font-size: 18px;
	text-align: center;
	line-height: 36px;
}
.btn-default-login,
.btn-default-signup {
	color: #ffffff;
	background-color: #006600;
	min-height: 36px;
}
.btn-default-login:focus,
.btn-default-login:hover,
.btn-default-signup:focus,
.btn-default-signup:hover {
	color: #ffffff;
	opacity: 0.8;
	filter: alpha(opacity=80);
  	-webkit-transition: opacity 0.3s linear;
  	-o-transition: opacity 0.3s linear;
  	transition: opacity 0.3s linear;
}
.navbar-brand {
	display: block;
	width: 100%;
}