{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap %}

{% block head_title %}{% trans "Travel Local" %}{% endblock %}

{% block extra_head %}
	{{ form.media }}
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-5">
		</div>
		<div class="col-md-6">
			<form id="travel_local_form" method="post" action="{% url "home:travel-local-form" %}" autocapitalize="off" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
				<legend>{% trans "Travel Locals" %}</legend>
				{% csrf_token %}
				{{ form|bootstrap }}
				{% if redirect_field_value %}
					<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
				{% endif %}
				{% if country %}
					<input type="hidden" name="country" value="{{ country }}" />
				{% endif %}
				<button type="submit" class="btn btn-primary">{% trans "Post" %}</button>
			</form>
		</div>
	</div>
{% endblock %}

{% block end_js_extends %}
	<script type="text/javascript">
		// $(document).ready(function() {
		// 	$('#id_name').focus();
		// });
	</script>
{% endblock %}
