{% extends "travel_messenger/base.html" %}

{% load i18n %}
{% load bootstrap %}
{% load staticfiles %}

{% block head_title %}{% trans "Messages" %}{% endblock %}

{% block inner_frame %}
	<div class="row chat-row">
		<!-- Room show -->
		<div class="col-md-3 room-panel">
			<!-- Judge if there has rooms -->
			{% if rooms %}
				<ul class="nav nav-pills nav-stacked" role="tablist">
				<!-- Iterate rooms to have list -->
				{% for room in rooms %}
					<!-- Check the subscribers for user to know -->
					{% for subscriber in room.subscribers.all %}
						{% if subscriber != user %}
						<!-- Show the subscriber name -->
						<li role="presentation" class="
						{% if room_id %}
							{% if room_id == room.pk %}active{% endif %}
						{% else %}
							{% if forloop.parentloop.counter == 1 %}active{% endif %}
						{% endif %}
						">
							<a id="room_{{ room.pk }}" title="room number" href="#room_{{ room.pk }}" onclick="onRoomClick({{ room.pk }}, {{ subscriber.pk }}, '{% url 'api:message-list' %}');return false;" role="tab" data-toggle="tab" aria-controls="find_pateners" aria-expanded="false">
								<div class="row">
									<div class="col-md-3">
										<img data-user-img="{{ subscriber.pk }}" class="media-object img-responsive img-circle" src="" anchor="room_{{ room.pk }}">
										<script type="text/javascript">
										$(document).ready(function() {
											var obj = $('img[anchor="room_{{ room.pk }}"]');
											loadImage(obj, function(data) {
												obj.attr('src', data.thumbnail);
											});
										});
										</script>
									</div>
									<div class="col-md-7">
										{{ subscriber.first_name }}
									</div>
									<div class="col-md-2">
										<!-- TODO socket is connected or not -->
										<span class="glyphicon glyphicon-exclamation-sign"></span>
									</div>
								</div>
							</a>
						</li>
							{% if room_id %}
								{% if room_id == room.pk %}
								<script type="text/javascript">
									// init the start room, otherwise it'll NaN
									function setFirstRoomValue() {
										$("#room_id").val({{ room.pk }});
										$("#to_user_id").val({{ subscriber.pk }});
									}
								</script>
								{% endif %}
							{% else %}
								{% if forloop.parentloop.counter == 1 %}
									<script type="text/javascript">
										// init the start room, otherwise it'll NaN
										function setFirstRoomValue() {
											$("#room_id").val({{ room.pk }});
											$("#to_user_id").val({{ subscriber.pk }});
										}
									</script>
								{% endif %}
							{% endif %}
						{% endif %}
					{% endfor %}
				{% endfor %}
				</ul>
			{% else %}
				<h1>No user</h1>
			{% endif %}

			<!-- Selfuser bix -->
			<div class="footer chat-user-bar">
				<div class="row">
					<div class="col-md-3">
						<img data-user-img="{{ user.pk }}" class="media-object img-responsive img-circle" src="" anchor="user_{{ user.pk }}">
						<script type="text/javascript">
						$(document).ready(function() {
							var obj = $('img[anchor="user_{{ user.pk }}"]');
							loadImage(obj, function(data) {
								obj.attr('src', data.thumbnail);
							});
						});
						</script>
					</div>
					<div class="col-md-7">
						{{ user.first_name }}
					</div>
					<div class="col-md-2">
						<!-- TODO unknow XD -->
						<a class="glyphicon glyphicon-tasks"></a>
					</div>
				</div>
			</div>
		</div>

		<!-- Message show -->
		<div class="col-md-9 chat-panel-box">
			<div id="chat_panel" class="chat-panel panel panel-default">
				<div id="messages" class="list-group">
					{% for message in messages %}
						<div class="row list-group-item" data-toggle="tooltip" data-placement="top" title="{{ message.created_at|date:'Y-m-d H:i' }}">
							<div class="col-md-2">
								{{ message.user.first_name }}
							</div>
							<div class="col-md-8">
								{{ message.text }}
							</div>
							<div class="col-md-2">
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
			<!-- Message input box -->
			<div class="footer chat-input-bar">
				<div id="message_form" class="input-group">
					<input class="form-control" type="text" id="message" name="message" placeholder="Your Message..."/>
					<input type="hidden" id="auth_token" value="" />
					<input type="hidden" id="current_user_id" value="{{ user.pk }}" />
					<input type="hidden" id="to_user_id" value="" />
					<input type="hidden" id="room_id" value="" />
					<span class="input-group-btn">
						<button type="button" class="btn btn-info" id="btn_submit" name="submit">
							<div class="glyphicon glyphicon-play"></div>
						</button>
					</span>
				</div>
			</div>
		</div>

	</div>

{% endblock %}

{% block footer_base %}
{% endblock %}

{% block end_js_extends %}
	<script src="{% static "js/travel_message/message.js" %}"></script> 
{% endblock %}