{% extends "theme_bootstrap/base.html" %}

{% load i18n %}

{% block body_base %}
    <section id="content_body">
        <div class="container">
            {% include "_messages.html" %}
            <div class="row">
                <div class="col-md-6 columns">
                </div>
                <div class="col-md-10 columns">
                    {% block body %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
