/*.sign-up {
	color: white !important;
}*/

body {
    font-family: Palatino Linotype, "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "华文细黑", "STHeiti", "微软雅黑", "Microsoft YaHei", SimHei, sans-serif !important;
}

form {
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    border-bottom: 2px solid #bababa;
    border-radius: 3px;
    /*text-align: left;*/
}

form > legend {
    text-align: center;
}

.form-login,
.form-signup {
    padding: 32px 108px 32px 108px;
}
/*.form-sp-button {
	width: 100%;
}*/

.box {
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 15px;
    padding: 0.35em 0.625em 0.75em;
    text-align: center;
}
/*.left-align {
	margin-left: 3em !important;
}

.center-align {
	text-align: center !important;
}*/

#section0 {
    background-image: url('../travelwithu/section_01.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#section1 {
    background-image: url('../travelwithu/section_02.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#section2 {
    background-image: url('../travelwithu/section_03.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.c_x {
    background-color: #db4437;
    height: 56px;
    position: relative;
    width: 56px;
}

.x_x {
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
    box-sizing: content-box;
    cursor: pointer;
    outline: none;
    padding: 0;
    pointer-events: auto;
    position: relative;
    /*-webkit-user-drag: none;
	-webkit-transform: scale(1) rotate(360deg);
	transform: scale(1) rotate(360deg);
	-webkit-transition: -webkit-transform 150ms cubic-bezier(.4,0,1,1);
	transition: transform 150ms cubic-bezier(.4,0,1,1);*/
}

.o_c {
    bottom: 0;
    padding: 23px;
    padding-left: 15px;
    pointer-events: none;
    position: fixed;
    right: 0;
    white-space: nowrap;
    z-index: 21;
    will-change: top, left;
}

.o_o {
    color: #db4437;
    font-weight: bold;
    padding-top: 8px;
    height: 56px;
}

.navbar-btn-login,
.navbar-btn-signup {
    display: inline-block;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    /*margin-bottom: 4px;*/
}

a:hover,
a:focus {
    text-decoration: none;
    color: #222222;
    filter: alpha(color=#222222);
    -webkit-transition: color 0.5s linear;
    -o-transition: color 0.5s linear;
    transition: color 0.5s linear;
}

.nav-icon-default {
    width: 40px;
    height: 40px;
    margin-left: 6px;
    margin-right: 6px;
}

.pull-right {
	float: right;
}

.navbar {
	background: #fff;
	height: 40px;
	box-shadow: 0px 1px 1px rgba(60,60,60,0.5);
}