{% load i18n %}
{% load bootstrap %}
{% load staticfiles %}

<!-- Modal -->
<div class="modal fade" id="invite_user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<div class="row">
					<div class="col-md-4"></div>
					<div class="col-md-4">
						<h4 class="modal-title" id="myModalLabel">{% trans "Invite Friends!" %}</h4>
					</div>
					<div class="col-md-4"></div>
				</div>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8">
						{% trans "Friends Email" %}
						<input id="email" class="form-control" type="text" placeholder="Email...">
					</div>
					<div class="col-md-2"></div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="form-control btn btn-primary" data-dismiss="modal" onClick="inviteFriends()">Send</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

function inviteFriends() {
	var email = $('#email').val();
	console.log(email);
	$.ajax( {
		url: "{% url 'invite' %}",
		type: 'POST',
		data: {
			email: email
		},
		success: function(data) {
			console.log(data);
		}
	});
}
</script>