{% load i18n %}
{% load staticfiles %}

<!DOCTYPE html>
<html class="no-js" lang="{{ LANGUAGE_CODE }}">
<head>

	<meta charset="utf-8">
	<!-- If you delete this meta tag World War Z will become a reality -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{% block head_title %}{% endblock %} | TravelWithU</title>
	<link rel="shortcut icon" href="{% static "favicon.ico" %}" />
	<!-- <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css" /> -->

	<!-- Bootstrap -->
	<link rel="stylesheet" href="{% static "css/bootstrap/bootstrap.css" %}">
	<link rel="stylesheet" href="{% static "css/bootstrap/bootstrap-theme.css" %}">

	<!-- jQuery -->
	<script src="{% static "jquery/js/jquery-2.1.4.js" %}"></script>
	<script src="{% static "jquery/js/jquery-ui-1.11.4/jquery-ui.js" %}"></script>
	<script src="{% static "js/angularjs/angular.js" %}"></script>
	<script src="{% static "js/load_images.js" %}"></script> 

	{% block fullpage_css %}
	{% endblock %}

	<link rel="stylesheet" href="{% static "css/intro.css" %}" />
	<link rel="stylesheet" href="{% static "css/travel.css" %}" />
	<link rel="stylesheet" href="{% static "font-awesome/css/font-awesome.css" %}">
	<!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"> -->

	{% block css_extends %}
	{% endblock %}


	{% block notify %}
		{% if user.is_authenticated %}
			<script type="text/javascript">
			$(document).ready(function() {
				var socket = io.connect('inlocal.tw', { autoConnect: true});

				// TODO get the new message notify
				socket.on('connect', function() {
					console.log("notify connect?");
					socket.emit('notify', {{ user.pk }}, function(data) {
						console.log(data);
					});
				});

				socket.on('notifier', function(msg) {
					console.log(msg);
					getNotifyNumber();
				});
			});
			</script>
		{% endif %}
	{% endblock %}
	{% block extra_head %}{% endblock %}
</head>

<body {% if user.is_authenticated %}onload="getNavUserInformation({{ user.pk }});"{% endif %}>
	<div id="navbar" class="navbar {% block nav_fix %}navbar-static-top{% endblock %}">
		<div class="container-fluid container-navbar">
		{% block topbar %}
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{% url "home:chooser" %}">
					<img class="navbar-brand-default" src="{% static "travelwithu/inLocal_logo.png" %}"></a>
			</div>

			<div class="collapse navbar-collapse navbar-right" style="margin-top: 0.33em">
				{% if user.is_authenticated %}
				<div class="row nav navbar-nav">
					<!-- <a class="col-md-4 navbar-brand" id="#profile_name" href="{% url "user:home" %}"></a>
					<a class="col-md-3" href="{% url "user:home" %}">
						<img id="#profile_pic" class="img-rounded" style="height:48px" src="/media/user_pic/default.png">
					</a>
					<a class="col-md-2" href="{% url "message:index" %}">
						<img style="height:48px" src="{% static "travelwithu/alert.png" %}">
					</a>
					<div class="col-md-1">
						<span data-type="notify" data-url="{% url 'api:notify-count' %}" class="badge"></span>
					</div> -->
					<div class="pull-right">
						<div class="dropdown">
							<a href="#" class="dropdown-toggle btn-link" data-toggle="dropdown">
								<img data-user-img="{{ user.pk }}" class="nav-icon-default" src="{% static "travelwithu/nav_setting.png" %}"></img>
							</a>
							<ul class="dropdown-menu">
								<li><a href="{% url "home:extends" %}"><i class="fa fa-user"></i> {% trans "Settings" %}</a></li>
								<li><a href="{% url "account_settings" %}"><i class="fa fa-language"></i> {% trans "Languages" %}</a></li>
								<!-- <li><a href="" data-toggle="modal" data-target="#invite_user"><i class="fa fa-share-alt"></i> {% trans "Invite Friends" %}</a></li> -->
								{% if user.is_staff %}
									<li><a href="{% url THEME_ADMIN_URL|default:"admin:index" %}"><i class="fa fa-cog"></i> {% trans "Admin" %}</a></li>
								{% endif %}
								<li class="divider"></li>
								<li>
									<a id="account_logout" href="{% url "account_logout" %}"><i class="fa fa-power-off"></i> {% trans "Log out" %}</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="pull-right">
						<span data-type="notify" data-url="{% url 'api:notify-count' %}" class="badge"></span>
					</div>
					<div class="pull-right">
						<a href="{% url "message:index" %}">
							<img class="nav-icon-default" src="{% static "travelwithu/nav_notify.png" %}">
						</a>
					</div>
					<div class="pull-right">
						<a href="{% url "user:home" %}">
							<img id="#profile_pic" class="img-rounded nav-icon-default" src="{% static "travelwithu/nav_user_2.png" %}">
						</a>
						<a id="#profile_name" href="{% url "user:home" %}"></a>
					</div>
				</div>
				{% else %}
					{% block page-si %}
						{% if ACCOUNT_OPEN_SIGNUP %}
							<a class="navbar-btn-signup" href="{% url "account_signup" %}">Sign Up</a>
						{% endif %}
						<a class="navbar-btn-login" href="{% url "account_login" %}">Log In</a>
					{% endblock %}
				{% endif %}
			</div>

			<form id="accountLogOutForm" style="display: none;" action="{% url "account_logout" %}" method="POST">
				{% csrf_token %}
			</form>
		{% endblock %}
		</div>
	</div>

	{% block body_base %}
		<!-- <section id="content_body"> -->
		<div class="container">
			{% include "_messages.html" %}
			<!-- 
			{ block postman }
			{ endblock }
			 -->
			{% block body %}
			{% endblock %}
		</div>
		<!-- </section> -->
	{% endblock %}

	{% block footer_base %}
		<footer>
			<div class="container">
				{% block footer %}{% endblock %}
			</div>
		</footer>
	{% endblock %}

	<!-- { include "_invite_user.html" } -->

	{% include "_io_script.html" %}

	<!-- Bootstrap -->
	<script src="{% static "js/bootstrap/bootstrap.js" %}"></script> 
	<script src="{% static "js/travel.js" %}"></script> 

	{% block fullpage_js %}
	{% endblock %}

	{% block end_js_extends %}
	{% endblock %}
</body>

</html>