{% load i18n %}

<div class="list-group-item">
	<!-- Main Info Response -->
	<div class="row">
		<!-- Rate -->
		<div class="col-md-2">
		</div>
		<div class="col-md-10">
			<!-- User info -->
			<div class="row">
				<div class="col-md-4">
					<img class="media-object img-responsive img-rounded" data-type="profile_pic" data-id="{{ travel_question_response.user.pk }}" src="">
					<!-- <img data-user-img="{{ travel_question_response.user.pk }}" class="media-object img-responsive img-circle" src="" anchor="travel_question_response_{{ travel_question_response.pk }}"> -->
					<script type="text/javascript">
					// $(document).ready(function() {
					// 	var obj = $('img[anchor="travel_question_response_{{ travel_question_response.pk }}"]');
					// 	loadImage(obj, function(data) {
					// 		obj.attr('src', data.thumbnail);
					// 	});	
					// });
					</script>
				</div>
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-6">
							{{ travel_question_response.user.first_name }}
						</div>
						<div class="col-md-6">
							{{ travel_question_response.updated_at|date:"Y-m-d H:i" }}
						</div>
						<div class="col-md-4">
							{{ forloop.counter }}F
						</div>
					</div>

					<!-- User Answer -->
					<div class="row">
						<div class="col-md-16" data-info-type="{% if travel_question_response.user == user %}can_edit_question_detail{% endif %}">{% if travel_question_response.detail %}{{ travel_question_response.detail|linebreaks }}{% endif %}</div>
					</div>

				</div>
			</div>
		</div>

		{% if travel_question_response.travel_question.user == user %}
			<!-- Can connection -->
			<div class="col-md-2" data-info-type="{% if travel_question_response.user == user %}can_edit_question_connection{% endif %}">
				<button id="question_connection_btn_{{ travel_question_response.pk }}" data-checked="{% if travel_question_response.is_connection %}true{% else %}false{% endif %}" class="{% if travel_question_response.is_connection %}glyphicon glyphicon-envelope{% else %}glyphicon glyphicon-share{% endif %}">
				</button>
			</div>
		{% endif %}

		<div class="col-md-2">
			{% if travel_question_response.user == user %}
			<div class="row">
				<div class="col-md-16">
					<a id="question_res_self" href="#">{% trans "Edit" %}</a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-16">
					<a href="#" class="btn btn-danger" data-toggle="modal" data-target="#del_qcom">
						{% trans "Delete" %}
					</a>
				</div>
			</div>

			<div class="modal fade" id="del_qcom" role="dialog" aria-labelledby="delq_label">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="delq_label">{% trans "Delete Confirmation" %}</h4>
						</div>
						<div class="modal-body">
							<button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
							<button type="button" id="question_res_del" data-dismiss="modal" class="btn btn-danger">{% trans "Delete" %}</button>
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->

			<script type="text/javascript">
			$(document).ready(function() {
				$('#del_qcom').on('hidden.bs.modal', function(e) {
					$('#travel_question-{{ travel_question_response.travel_question.pk }}').click();
				});
				$('#question_res_del').click(function() {
					$.ajax({
						url: "{% url 'api:travel-question-response-detail' travel_question_response.pk %}",
						type: 'DELETE',
						success: function(data) {
							console.log(data);
							$('#del_qcom').modal('hide');
						},
						error: function(e) {
							console.log(e);
							$('#del_qcom').modal('hide');
						}
					});
				});
			});
			</script>
			{% endif %}
		</div>
	</div>

	<!-- Edit or Response... etc -->
	<hr>
	<div class="row">
		<div class="col-md-4">
		</div>

		<!-- [Notice] FOR UI DESIGNER -->
		<!-- the structure there should let data type and res-id at outside -->
		<!-- the following tag <a> and data-type'text' with res-show should be there -->
		<!-- still, you need <textarea> inside data-type'text' -->
		<!-- 5/13 Andy. -->
		<div class="col-md-12" data-type="question-res-res" data-res-id="{{ travel_question_response.pk }}" data-user-id="{{ user.pk }}" data-post-url="{% url 'api:travel-question-response-response-list' %}">
			<div class="row">
				<a href="#">{% trans "Reply" %} {{ travel_question_response.user.first_name }}</a>
			</div>

			<!-- TODO script add response or edit -->
			<div class="row" data-type="question-res-res-text-frame" data-res-show="false">
				<div class="col-md-11">
					<textarea class="form-control" row="1"></textarea>
				</div>
				<div class="col-md-5">
					<button type="button" data-type="question-res-res-text-submit" class="btn btn-success" disabled="true" data-dismiss="modal">Send</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Show the response's reponse -->
	<div data-type="show_more" data-pk="{{ travel_question_response.pk }}">
	{% for travel_question_res_res in travel_question_res_res_s %}
		{% if travel_question_res_res.travel_question_response.pk == travel_question_response.pk %}
		<div data-type="show_more_item" data-pk="{{ travel_question_res_res.pk }}">
			<hr>
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-2">
					<!-- Rate, not open yet -->
				</div>
				<div class="col-md-10">
					<div class="col-md-4">
						<img class="media-object img-responsive img-rounded" data-type="profile_pic" data-id="{{ travel_question_res_res.user.pk }}" src="">
					</div>
					<div class="col-md-7">
						<div class="row">
							<div class="col-md-16">
								{{ travel_question_res_res.user.first_name }}
							</div>
						</div>
						<div class="row">
							<div class="col-md-16">
								{{ travel_question_res_res.detail|linebreaks }}
							</div>
						</div>
					</div>
					<div class="col-md-5">
						<div class="row">
							<div class="col-md-16">
								{{ travel_question_res_res.created_at|date:"Y-m-d H:i" }}
							</div>
						</div>
						{% if travel_question_res_res.created_at|date:"Y-m-d H:i" != travel_question_res_res.updated_at|date:"Y-m-d H:i" %}
						<div class="row">
							<div class="col-md-16">
								{{ travel_question_res_res.updated_at|date:"Y-m-d H:i" }}
							</div>
						</div>
						{% endif %}
					</div>
				</div>
				<div class="col-md-2">
					{% if travel_question_res_res.user == user %}
					<!-- <div class="row">
						<div class="col-md-12">
							<a id="question_res_res_self_{{ travel_question_res_res.pk }}" href="#">{% trans "Edit" %}</a>
						</div>
					</div> -->
					<div class="row">
						<div class="col-md-16">
							<a href="#" class="btn btn-danger" data-toggle="modal" data-target="#del_qcom_{{ travel_question_res_res.pk }}">
								{% trans "Delete" %}
							</a>
						</div>
					</div>

					<div class="modal fade" id="del_qcom_{{ travel_question_res_res.pk }}" role="dialog" aria-labelledby="delq_label_{{ travel_question_res_res.pk }}">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title" id="delq_label_{{ travel_question_res_res.pk }}">{% trans "Delete Confirmation" %}</h4>
								</div>
								<div class="modal-body">
									<button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
									<button type="button" id="question_res_del_{{ travel_question_res_res.pk }}" data-dismiss="modal" class="btn btn-danger">{% trans "Delete" %}</button>
								</div>
							</div><!-- /.modal-content -->
						</div><!-- /.modal-dialog -->
					</div><!-- /.modal -->

					<script type="text/javascript">
					$(document).ready(function() {
						$('#del_qcom_{{ travel_question_res_res.pk }}').on('hidden.bs.modal', function(e) {
							$('#travel_question-{{ travel_question_response.travel_question.pk }}').click();
						});
						$('#question_res_del_{{ travel_question_res_res.pk }}').click(function() {
							$.ajax({
								url: "{% url 'api:travel-question-response-response-detail' travel_question_res_res.pk %}",
								type: 'DELETE',
								success: function(data) {
									console.log(data);
									$('#del_qcom_{{ travel_question_res_res.pk }}').modal('hide');
								},
								error: function(e) {
									console.log(e);
									$('#del_qcom_{{ travel_question_res_res.pk }}').modal('hide');
								}
							});
						});
					});
					</script>
					{% endif %}
				</div>
			</div>
		</div>
		{% endif %}

	{% endfor %}
		<!-- Custom tag for not showing those if response's response is less than 3 -->
		{% if travel_question_res_res_s.count > 3 %}
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-5">
					<a data-type="show_all_link_{{ travel_question_response.pk }}" href="#" data-checked="false" data-text="{% trans 'View Less' %}">{% trans 'View All' %}</a>
				</div>
				<div class="col-md-5">
					<a data-type="show_more_link_{{ travel_question_response.pk }}" href="#">{% trans 'More' %}</a>
				</div>
				<div class="col-md-3"></div>
			</div>
		{% endif %}
	</div> <!-- End view more -->
</div>