{% load i18n %}
{% load get_item %}
{% load staticfiles %}

<script src="{% static "js/travel_q_i_functions/travel_questions_functions.js" %}"></script>
<script src="{% static "js/show_more.js" %}"></script>

<div class="modal-dialog modal-lg">
	<div class="modal-content">
		{% if travel_question %}
			{% if travel_question.user == user %}
				<script type="text/javascript">
					$(document).ready(function() {
						$('.modal-footer').remove();
					});
				</script>
			{% endif %}
			<div class="modal-header">
				<div class="row">
					<div class="col-md-12">
						<h4 class="modal-title" id="question_frame_label">{{ travel_question.title }}</h4>
					</div>
					<div class="col-md-2">
						{% if travel_question.user == user %}
						<button type='button' class="close dropdown-toggle" id="menu_edit" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span aria-hidden="true" class="fa fa-bars"></span></button>
						<ul class="dropdown-menu" aria-labelledby="menu_edit">
							<li><a href="{% url 'home:travel-question-update-form' travel_question.pk %}">Edit</a></li>
							<li><a href="#" data-toggle="modal" data-target="#del_com">Delete</a></li>
						</ul>
						<div class="modal fade" id="del_com" role="dialog" aria-labelledby="del_label">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<h4 class="modal-title" id="del_label">{% trans "Delete Confirmation" %}</h4>
									</div>
									<div class="modal-body">
										<button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
										<button type="button" id="qus_del" data-dismiss="modal" class="btn btn-danger">{% trans "Delete" %}</button>
									</div>
								</div><!-- /.modal-content -->
							</div><!-- /.modal-dialog -->
						</div><!-- /.modal -->

						<script type="text/javascript">
						$(document).ready(function() {
							$('#qus_del').click(function() {
								$.ajax({
									url: "{% url 'api:travel-question-detail' travel_question.pk %}",
									type: 'DELETE',
									success: function(data) {
										console.log(data);
										location.reload();
									},
									error: function(e) {
										console.log(e);
										location.reload();
									}
								});
							});
						});
						</script>
						{% endif %}
					</div>
					<div class="col-md-2">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					</div>
				</div>
				<div class="row" id="question_user">
				</div>
			</div>
			<div class="modal-body">
				{{ travel_question.detail|safe }}
				<hr>
				<div class="alert alert-success">
					{% if travel_question_responses %}
						{{ travel_question_responses.count }} 
					{% else %}
						0 
					{% endif %}
					{% trans "Answered" %}
				</div>
				<div class="list-group">
					{% for travel_question_response in travel_question_responses %}
						{% include "travel_agency/travel_questions/_list_item_question_response.html" with travel_question_response=travel_question_response travel_question_res_res_s=travel_question_res_res_s|get_item:travel_question_response.pk %}

						{% if travel_question_response.user == user %}
							<script type="text/javascript">
								$(document).ready(function() {
									$('.modal-footer').remove();

									// Do edit or save
									$('#question_res_self').click(function() {
										editOrSaveRes(
											'{% trans "Edit" %}',
											'{% trans "Save" %}',
											'{% trans "Response..." %}',
											{{ travel_question_response.pk }},
											"{% url 'api:travel-question-response-detail' travel_question_response.pk %}",
											{{ travel_question.pk }},
											{{ user.pk }});
									});
								});
							</script>
						{% endif %}
					{% endfor %}
				</div>
			</div>
			<div class="modal-footer">
				<!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
				<div class="row">
					<div class="col-md-16">
						<h4 class="pull-left">{% trans "Send Your Answer" %}</h4>
					</div>
				</div>
				<!-- <div class="row" style="text-align: center">
					<div class="col-md-4">{% trans "Local Help" %}</div>
					<div class="col-md-8">
						<input id="is_question_connected" class="form-control" type="checkbox" name="is-c-checkbox" checked>
					</div>
				</div> -->
				<div class="row">
					<div class="btn col-md-16">
						<textarea id="travel_question_response_textarea" class="form-control" rows="3" placeholder="{% trans 'Response...' %}"></textarea>
					</div>
				</div>
				<button type="button" id="send_travel_question_response_btn" class="btn btn-primary form-control" data-dismiss="modal">Send</button>
			</div>
		{% endif %}
	</div>
</div>

<script type="text/javascript">
$(document).ready(function() {
	loadAllImage(function(msg, data) {
		console.log(msg, data);
	});

	// $("[name='is-c-checkbox']").bootstrapSwitch('state', false);
	// $("[name='is-c-checkbox']").bootstrapSwitch('onText', 'YES');
	// $("[name='is-c-checkbox']").bootstrapSwitch('offText', 'NO');

	$('#send_travel_question_response_btn').click(function(){
		sendQuestionResponse(
		"{% url 'api:travel-question-response-list' %}",
		{{ travel_question.pk }},
		{{ user.pk }});
	});
});
</script>